<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>knewone</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7F343F03-2CED-44FE-8197-EDF0DE50E4FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7982F64-8EAE-4557-A0CA-D3FF6A3853EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wayne Lai</string>
	<key>description</key>
	<string>查询 KnewOne 最新产品</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KnewOne</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>knewone</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>请骚等…</string>
				<key>script</key>
				<string>/usr/local/bin/node &lt;&lt;-'CODE'
require("./workflow")();
CODE</string>
				<key>title</key>
				<string>查询 KnewOne 最新产品</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F343F03-2CED-44FE-8197-EDF0DE50E4FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E7982F64-8EAE-4557-A0CA-D3FF6A3853EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7F343F03-2CED-44FE-8197-EDF0DE50E4FF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E7982F64-8EAE-4557-A0CA-D3FF6A3853EB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://knewone.com</string>
</dict>
</plist>
